.direccion{
    margin-top: 40px;
    margin-bottom: 40px;
}

.col-md-6{
    margin: 20px;
}

.nombre{
    margin-top: 0px;
}

.boton{
    margin-bottom: 30px;
}
.bt-atras{
    margin-top: 10px;
}


  #botonEnviarPedido:hover {
    background-color: #A3C95D;
    transform: scale(1.02);
  }
  #botonEnviarPedido:active {
    background-color: #8BB548;
    transform: scale(0.98);
  }

